<!DOCTYPE html>
<html lang="pt/br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../static/css/sobre.css'>
    <title>Sobre a Room3</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.png">
</head>
<body>
    <nav id="menu">
        <div id='navbar'>
            <img id="logotipo" src="../static/img/logo.png" alt="logotipo Room3 Guitars">
            

            <ul id="navlinks">
                <li><a href="/">Home</a></li>
                <li><a href="/equipe">Equipe</a></li>
                <li><a href="/catalogo">Catálogo</a></li>
                <li ><a href="/login">Login</a></li>
            </ul>
            
        </div>     
    </nav>

    <header>
        <div>
            <h1>O melhor catálogo de modelos de guitarra!</h1>
        </div>
        <div id="sobre">
            <p>A Room3 criou esse catálogo utilizando HTML, CSS, Python, Flask e JavaScript como projeto final para o Módulo 2 do curso de Programação da Blue EdTech!</p>
            <p>Segundo o dicionário, catálogo é uma lista, rol ou enumeração de coisas ou pessoas. Mas o catálogo da Room3 Guitars não é apenas isso, mas sim uma exposição dos modelos de guitarra mais icônicos e utilizados em todo o mundo!</p>
        </div>
    </header>

    <footer class='d-flex justify-content-center'>
        <p>Todos os direitos reservados: Room3 - T3C5 - Blue EdTech 
            </a>
            &copy;
        </p>
    </footer>

    <script src="../static/js/script.js"></script>
</body>
</html>