* {
  margin: 0;
  padding: 0;
}

html{
    scroll-behavior: smooth;
}

.menuFixo {
    position: fixed;
    top: 0px;
    background-color: rgba(89, 89, 90, 0.562);
}

div#menu {
    border: 1px solid transparent;
    width: 100%;
    display: flex;
    align-items: center;
}

nav {
    background-color:rgba(0, 0, 0, 0.671);
    position:fixed;
    width: 100%;
}

#navbar {
    display: flex;
    width: 100%;
    align-items: center;
}

nav #logotipo{
    padding: 1.5vh 5vw;
    height:60px;
    height: clamp(2.5em, .8em + 5vw, 3.3vw)
}

#navlinks {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 80%;    
    padding-right: 4vw;
    
}

nav ul li {
    padding-right: 1.5vw;
    
}

nav ul li a {
    text-decoration: none;
    font-size: larger;
    color: whitesmoke
}

nav ul a:hover{
	color:rgb(255, 255, 255);
    background-color: rgb(163, 20, 20);
    padding: .2rem;
    padding-left: .2rem;
    padding-right: .2rem;
    border-radius: 15px;
	}

header{
    padding: 18vw;
    background-image: url(../img/bg-masthead.jpg);
    background-position: center;
    background-size: cover;
}

header h1{
    width: 100%;
    font-size: 2.4vw;
    font-weight: 500;
    text-transform: uppercase;
    background-color:rgba(0, 0, 0, 0.600);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1vw;
}

header div#sobre p{
    width: 100%;
    font-size: 1.6vw;
    font-weight: 500;
    line-height: 2.5vw;
    background-color:rgba(0, 0, 0, 0.600);
    justify-content: center;
    color: rgb(255, 255, 255);
    padding: 1vw;
    text-align: center;
}

footer {
    text-align: center;
    padding: .3rem;
    color: #fff;
    font-size: 19px;
    background-color: rgba(0, 0, 0, 0.5);
  }