body ,html {
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgb(126, 12, 12) 50%);
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;

}

h1 {
  padding-right: 5rem;
  color: white;
  font-size: 4rem;
}


/* Estilos do modal */

section.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #00000080;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
  }
  
  section.modal div#card{
    width: 30rem;
    position: relative;
    background-color: #fff;
    border-radius: .5rem;
  }
  
  section.modal div#card h2{
    padding: 2rem;
    margin: 0;
    color: rgb(126, 12, 12);
  }
  
  section.modal div#card a#fechar{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    color: rgb(126, 12, 12);
    padding: 1.5rem;
  }
  
  section.modal div#card a#fechar:hover{
    color: #b90303;
  }
  
  section.modal div#card hr{
    width: 90%;
    margin: 0 auto;
  }
  
  section.modal div#card p{
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  button#voltar a{
    color:rgb(209, 54, 54);
    text-decoration: none;
  }

  footer {
    text-align: center;
    padding: .3rem;
    color: #fff;
    font-size: 19px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Fim dos estilos do modal */